
{% extends 'website/base1.html' %}
{% load static %}
{% block body %}
   





     <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h1 class="mb-0">VISI</h1>
            </div>
            <div class="row g-5">
                {{rows.isi|safe}}
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Start -->
         <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h1 class="mb-0">MISI</h1>
            </div>
            <div class="row g-5">
                {{rows1.isi|safe}}
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Start -->
    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h1 class="mb-0">TUJUAN</h1>
            </div>
            <div class="row g-5">
                {{rows2.isi|safe}}
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Start -->
{% endblock %}